<h2><%= @team.team_name %></h2>
<p><%= @team.project_name %></p>
<% @team.members.each do |member| %>
  <p><%=  member.full_name %> -- <%= member.skill %></p>
<% end %>
<a href="/team/<%= @team.id %>/members/new">Add Members to team</a>
